.container__description
  display:flex
  flex-direction:column
  justify-content:flex-start
  align-items:center


@mixin underline
  position: relative
  &:after
    position: absolute
    content: ''
    height: 3px
    bottom: -30px
    margin: 0 auto
    left: 0
    right: 0
    width: 100px
 
.blueUnderline
  @include underline 
  text-transform: capitalize

  &:after
    background: #455A89
 
 
.cardContainer 
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: flex-start    
  @media (max-width: 720px)
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center  
      
.card    
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  max-width: 300px
  margin: 40px 40px 40px 0
  font-family: Raleway, sans-serif       

  h3
    margin-top: 20px
    font-size: 22px
    font-weight: 500
    text-transform: capitalize

  p
    margin-top: 10px
    font-size: 14px
    line-height: 20px
    font-weight: 400

  img
    max-height: 85px

  &:last-child
    margin-right: 0

  @media screen and (max-width: 768px)       
    max-width: 100%
    margin: 40px

  @media screen and (max-width: 414px)        
    p
    margin-right: 10px