.heading{
    text-transform: capitalize;
    font-size: 33px;
    margin-top: 0;
    font-weight: 700;
    cursor: pointer;
   
}

.sub_heading{
    font-size: 19px;
    margin-top: 0;
    font-weight: 400;
    cursor: pointer;
}

.pricing {
    font-size: 19px;
}

.option{
    display: flex;
    flex-direction: column;
}