$color-black: #222;
$color-white: #fff;
$color-grey: #77838f;
$color-dark-grey: #666;
$color-dark-grey-shadow: #6f6f6f;
$color-medium-grey: #eee;
$color-light-grey: #ddd;
$color-blue: #007bff;
$color-pink: #e0b48d;
$color-gold: #e8b954;
